<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CreateCluster</display-name>
    <servlet-name>CreateCluster</servlet-name>
    <servlet-class>CreateCluster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCluster</servlet-name>
    <url-pattern>/createclust</url-pattern>
  </servlet-mapping>
  <display-name>PostgresManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBops</display-name>
    <servlet-name>DBops</servlet-name>
    <servlet-class>DBops</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBops</servlet-name>
    <url-pattern>/dbop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDB</display-name>
    <servlet-name>DeleteDB</servlet-name>
    <servlet-class>DeleteDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDB</servlet-name>
    <url-pattern>/deleteDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCluster</display-name>
    <servlet-name>DeleteCluster</servlet-name>
    <servlet-class>DeleteCluster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCluster</servlet-name>
    <url-pattern>/deleteCluster</url-pattern>
  </servlet-mapping>
</web-app>